[{{REPO_SOURCE_MARKER}}-{{APP_NAME}}-{{APP_VERSION}}]
name={{REPO_SOURCE_MARKER}}-{{APP_NAME}}-{{APP_VERSION}} Repository
baseurl={{APP_REPO_URL}}
enabled={{REPO_ENABLED}}
gpgcheck={{REPO_GPG_CHECK}}
gpgkey={{REPO_GPG_KEY}}
module_hotfixes={{REPO_MODULE_HOTFIXES}}