[private-{{APP_NAME}}-{{APP_VERSION}}]
name=private-{{APP_NAME}}-{{APP_VERSION}} Repository
baseurl={{APP_REPO_URL}}
enabled=1
gpgcheck=0
gpgkey=https://raw.githubusercontent.com/sunxiaoning/rpmbuild/main/william_signing.key
module_hotfixes=true