[private-{{AppName}}-{{AppVersion}}]
name=private-{{AppName}}-{{AppVersion}} Repository
baseurl={{BaseUrl}}
enabled=1
gpgcheck=0
gpgkey=https://raw.githubusercontent.com/sunxiaoning/rpmbuild/main/william_signing.key
module_hotfixes=true